body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e67dd8;
}

h1, h2 {
    text-align: center;
    color: #555555;
    margin: 20px 0;
}

h2 {
    margin-top: 50px;
}

header {
    background-color: #f1aadc;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin-top: 10px;
}

#ulmenu {
    list-style: none;
    padding: 0;
    text-align: center;
}

#ulmenu li {
    display: inline;
    margin: 0 15px;
}

#ulmenu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#ulmenu a:hover {
    color: #ff00b3; 
}

table{
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre los bordes de las celdas */
}

th{
    text-align: left;
    border: 1px solid black;
    padding: 8px;
}

td{
    border: 1px solid black;
    padding: 8px;
}

